.seat-groups {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  padding-right: 16px;
}
.seat-groups .seat-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.seat-groups .seat-info .seat-thumbnail {
  margin-right: 8px;
}

.trust-message-container {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ecf4fd;
}

.trust-message-container p {
  color: #0e63c1;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0px;
}


.coach-container {
  margin-right: 16px;
  text-align: center;
}

.coach {
  padding: 24px 12px 12px;
  background: #e6e6e6;
  border-radius: 25px 25px 5px 5px;
}

.coach table {
  border-collapse: collapse;
}

.coach table .seat-container {
  min-width: 22px;
  min-height: 30px;
} 

.wheel {
  padding-left: 8px;
}

.ant-card {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
}

.ant-card-body {
  padding: 16px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.list-seat {
  width: 80%;
}

.note {
  font-size: 16px;
  font-weight: bold;
}

/* css thanh progress */
.app-container {
  padding: 20px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.step {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #ccc; /* Light color for inactive steps */
  position: relative;
}

.step.active {
  font-weight: bold;
  color: #000; /* Dark color for the active step */
}



.step:last-child::after {
  display: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* css chọn chuyến và ô thông tin */
.trip-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.trip-selector h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.trip-selector .ant-btn {
    margin: 10px 0;
    width: 200px;
    background-color: white;
    border: 2px solid #5ca8ff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.selected-trip-info {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e6e6e6;
    text-align: left;
}

.selected-trip-info h3 {
    margin-bottom: 10px;
}

.selected-trip-info p {
    margin: 5px 0;
}