.seat-groups {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  padding-right: 16px;
}
.seat-groups .seat-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.seat-groups .seat-info .seat-thumbnail {
  margin-right: 8px;
}

.trust-message-container {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ecf4fd;
}

.trust-message-container p {
  color: #0e63c1;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0px;
}


.coach-container {
  margin-right: 16px;
  text-align: center;
}

.coach {
  padding: 24px 12px 12px;
  background: #e6e6e6;
  border-radius: 25px 25px 5px 5px;
}

.coach table {
  border-collapse: collapse;
}

.coach table .seat-container {
  min-width: 22px;
  min-height: 30px;
} 

.ant-card {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
}

.ant-card-body {
  padding: 16px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.list-seat {
  width: 80%;
}

.note {
  font-size: 16px;
  font-weight: bold;
}